# Flask
Flask==1.0.2

# web fronter
Flask-Bootstrap==3.3.7.1

# mysql
Flask-SQLAlchemy==2.3.2
Flask-Migrate==2.3.0
PyMySQL==0.9.2


# email
Flask-Mail==0.9.1

#restful
Flask-RESTful==0.3.6

# cmdline
Flask-Script==2.0.6

# login and  auth
flask-login==0.4.1
flask-httpauth==3.2.4
flask-bcrypt==0.7.1


# celery
celery ==4.2.1

# redis
redis==2.10.6
flask-cache==0.13.1

#pillow
pillow ==9.0.1

#geo
geoip2==2.9.0
